.product-table-container {
    width: 95%;
    margin: 0 auto;
    height: 240px;
    border: 1px solid green;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    padding-top: 0px;
}
.product-table-container span{
    font-weight: bold;
    
}
.product-name {
    margin-left: 5px;
}
.product-price {
    margin-left: 20px;
}